@page
@model BookListRazor.Pages.BookList.CreateModel
@{
    ViewData["Title"] = "Create";
}

<br />
<h2 class="text-info">Boek toevogen</h2>
<br />

<div class="border">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container" style="padding:30px;">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="book.Name"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="book.Name" class="form-control" />
                    </div>
                    <span asp-validation-for="book.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="book.Author"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="book.Author" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="book.ISBN"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="book.ISBN" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2 offset-sm-2">
                        <input type="submit" value="Aanmaken" class="btn btn-primary form-control" />
                    </div>
                    <div class="col-sm-2">
                        <a asp-page="Index" class="btn btn-success form-control">Terug</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{ 
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
